<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libraryapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryApplication">
        <activity
            android:name=".WebsiteActivity"
            android:exported="true" />
        <activity
            android:name=".FavouriteBookActivity"
            android:exported="true"
            android:label="@string/activity_favourite_books" />
        <activity
            android:name=".WishlistBookActivity"
            android:exported="true"
            android:label="@string/activity_wishlist_books" />
        <activity
            android:name=".CurrentlyReadingBookActivity"
            android:exported="true"
            android:label="@string/activity_currently_reading_books" />
        <activity
            android:name=".AlreadyReadBookActivity"
            android:exported="true"
            android:label="@string/activity_already_read_books" />
        <activity
            android:name=".BookActivity"
            android:exported="true"
            android:label="@string/activity_book" />
        <activity
            android:name=".AllBooksActivity"
            android:exported="true"
            android:label="@string/activity_all_books" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>